@font-face {
    font-family: 'wwf';
    font-weight: normal;
    font-style: normal;
    src: local('WWF'),
    url('@/assets/fonts/wwf.woff') format('woff'),
    url('@/assets/fonts/wwf.woff2') format('woff2');
}