html {
    @apply overflow-x-hidden font-open;
}
*, *::before, *::after {
    @apply relative;
}

p {
    @extend .u-fs18;
    @apply font-open mb-6 last:mb-0;
    a {
        @apply underline text-green;
    }
}

.u-fs18 {
    @apply text-lg leading-[38px];
}
.u-fs20 {
    @apply text-[20px];
}
.u-fs22 {
    @apply text-[22px];
}
.u-fs24 {
    @apply text-[24px] leading-[48px];
}
.u-fs28 {
    @apply text-[28px];
}
.u-fs30 {
    @apply text-[30px];
}
.u-fs31 {
    @apply text-[31px];
}
.u-fs32 {
    @apply text-[32px] leading-[52px];
}
.u-fs34 {
    @apply text-[34px] leading-[38px];
}
.u-fs36 {
    @apply text-[36px] leading-[40px];
}
.u-fs38 {
    @apply text-[38px] leading-[42px];
}
.u-fs40 {
    @apply text-[40px] leading-[52px];
}
.u-fs48 {
    @apply text-[48px] leading-[52px];
}
.u-fs55 {
    @apply text-[55px] leading-[62px];
}
.u-fs62 {
    @apply text-[62px];
}
.u-fs68 {
    @apply text-[68px] leading-[72px];
}
.u-fs88 {
    @apply text-[88px] leading-[62px];
}
.u-fs100 {
    @apply text-[100px] leading-[100px];
}
.u-fs126 {
    @apply text-[126px] leading-[126px];
}
.u-fs180 {
    @apply text-[180px] leading-[180px];
}
.u-fs220 {
    @apply text-[220px] leading-[220px];
}

.u-button {
    @extend .u-fs18;
    @apply inline-flex items-center gap-4 px-12 py-3 font-wwf text-white uppercase bg-green rounded-[50px] hover:bg-gold;
    svg {
           @apply top-0.5;
            path {
                @apply stroke-current;
            }  
    }
    &--hero {
        @extend .u-fs22;
        @apply px-12 py-5 text-green bg-white border-2 border-green hover:bg-green hover:text-white;
        svg {
            @apply top-0.5;
            path {
                @apply stroke-current;
            }
        }
    }
    &--white-ocre {
        @apply bg-white text-ocre hover:bg-white hover:text-ocre hover:opacity-90;
    }
    &--white-green {
        @apply bg-white text-green hover:bg-white hover:text-green hover:opacity-90;
    }
    &--greendark {
        @apply bg-greendark text-white hover:bg-greendark hover:text-white hover:opacity-90;
    }
    &--border {
        @apply bg-white border-2 border-green text-green hover:bg-green hover:text-white;
    }
}
.u-container {
    @apply mx-auto max-w-[1280px] px-9;
    &--lg {
        @apply max-w-[1024px];
    }
    &--md {
        @apply max-w-[768px];
    }
    &--sm {
        @apply max-w-[640px];
    }
   
}
.u-header {
    @apply mb-20 text-center;
    h2 {
        @extend .u-fs32;
        @apply font-wwf;
    }
    h3 {
        @extend .u-fs24;
        @apply font-bold;
    }
    p {
        @extend .u-fs18;
        @apply leading-[38px];
        em {
            @apply text-green not-italic;
        }
    }
    > * {
        @apply mb-6;
        &:first-child:last-child {
            @apply mb-0;
        }
    }
    &--left {
        @apply text-left;
    }
    &--green {
        h2 {
            @apply text-green;
        }
    }
}
.u-section {
    @apply mt-32;
    &--padded {
        @apply py-32;
    }
    &--padded-t {
        @apply pt-32;
    }
    &--extra-mb {
        @apply mb-60;
    
    }
    &--cake { @apply bg-cake; }
    
}
.u-gradient {
    @apply bg-gradient-to-b ;
    &--horiz { @apply bg-gradient-to-r; }
    &--green-greensoft { @apply from-green to-greensoft; }
    &--ocre-ocrelight { @apply from-ocre to-ocrelight; }
    &--cake-transparent { @apply from-cake to-transparent; }
    &--greensoft-ocre { @apply from-greensoft to-ocre; }  
}
.u-scatter-tooltip {
    @apply p-6;
    &__row {
        @apply w-full flex;
    }
    &__category {
        @apply py-2;
        &__title {
            @apply block w-[75px] leading-[14px] text-xs opacity-50 uppercase;
            font-family: 'WWF'!important;
        }
    }
    &__stats {
        @apply text-center pt-4 flex flex-col items-center justify-center;
    }
    &__counter {
        font-family: 'WWF'!important;
        @extend .u-fs40;
        @apply w-[90px] h-[90px] rounded-full flex items-center justify-center text-white;
    }
    &__summary {
        @apply mt-4;
        h5 {
            font-family: 'WWF'!important;
            @extend .u-fs18; 
            @apply uppercase;
        }
        p {
            @apply text-[10px];
            &:last-child {
                @apply font-bold;
            }
        }
    }
    
}
.u-scatter__resume {
    @apply flex items-center mb-8 border boder-[#dadada] rounded-[12px] bg-white;
    &__block {
        @apply flex items-center space-x-3 flex-1 py-3 px-5;
        &:after {
            content: '';
            @apply block w-px h-6 bg-[#dadada] absolute top-1/2 right-0 transform -translate-y-1/2;
        }
        h4 {
            @extend .u-fs20;
            @apply font-wwf;
        }
        h5 {
            @apply text-xs text-[#7B7B7B];
        }
        &--col {
            @apply flex-col space-x-0 items-start;
            &:after {
                @apply h-full;
            }
        }
        &:last-child {
            &:after {
                @apply hidden;
            }
        }
    }
}
.u-scatter-xaxis-title {
    @apply text-sm fill-[#7B7B7B];
}
.u-scatter-yaxis-title {
    @apply text-sm fill-[#7B7B7B];
}
.u-scatter-item {
    @apply absolute flex flex-col items-center bottom-0 transform -translate-x-1/2 -translate-y-4;
    &__circle {
        @apply w-[20px] h-[20px] rounded-full;
    }
    &__line {
        @apply w-[2px] h-2;
    }
    &__data {
        @extend .u-fs18;
        @apply w-[40px] h-[40px] rounded-full flex items-center justify-center font-wwf text-white;
        &__label {
            @apply absolute left-full text-base text-[#C4C4C4] transform translate-x-1 leading-tight;
        }
    }
}
.u-page-header {
    @extend .u-gradient ,.u-gradient--horiz, .u-gradient--green-greensoft;
    @apply py-6;
    &__container {
        @apply flex items-ctenter justify-between;
    }
    &__header {
        @apply font-wwf text-white;
        h2 {
            @extend .u-fs32;
            @apply leading-[20px];
        }
        h1 {
            @extend .u-fs68;
        }
    }
    &__cta {
        @apply flex items-center justify-end;
    }
}
.u-range {
    @extend .u-fs24;
    @apply relative flex items-center justify-center w-[50px] h-[50px] rounded-full font-wwf mx-auto z-10 text-center;
    &--border {
        @apply border-2;
        &.lagging-behind { @apply border-[#E46466] }
        &.middle-of-the-pack { @apply border-[#E4C864] }
        &.intermediate { @apply border-[#96b441] }
        &.advanced { @apply border-[#41b464] }
    }
    &--text {
        &.lagging-behind { @apply text-[#E46466] }
        &.middle-of-the-pack { @apply text-[#E4C864] }
        &.intermediate { @apply text-[#96b441] }
        &.advanced { @apply text-[#41b464] }
    }
    &--bg {
        @apply text-white;
        &.lagging-behind { @apply bg-[#E46466] }
        &.middle-of-the-pack { @apply bg-[#E4C864] }
        &.intermediate { @apply bg-[#96b441] }
        &.advanced { @apply bg-[#41b464] }
        &.non-resp { @apply bg-[#c1c1c1] text-3xl; }
    }
    &--big {
        @extend .u-fs31;
        @apply w-[65px] h-[65px];
    }
    &--company {
        @extend .u-fs62;
        @apply w-[130px] h-[130px];
    }
    &--total {
        @apply w-[65px] h-[65px] text-xl;
    }
    &--past {
        @apply w-[35px] h-[35px] text-base;
    }
    &--past-total {
        @apply w-[45px] h-[45px] text-lg;
    }
    &--pointer {
        @apply cursor-pointer;
    }
}

.u-sc-text {
    &.lagging-behind { @apply text-[#E46466] }
    &.middle-of-the-pack { @apply text-[#E4C864] }
    &.intermediate { @apply text-[#96b441] }
    &.advanced { @apply text-[#41b464] }
    &.non-resp { @apply text-[#c1c1c1] }
}

.u-noscore {
    @apply block max-w-[40px] mx-auto font-wwf text-lg uppercase  text-[#c1c1c1] leading-tight text-center;
}

.u-modal {
    @apply w-screen h-screen fixed top-0 left-0 z-40 flex items-center justify-center;
    &__overlay {
        @apply w-full h-full bg-black bg-opacity-50 absolute top-0 left-0;
    }
    &__content {
        @apply w-[960px] max-h-[calc(100vh-100px)] bg-white rounded-[12px] overflow-auto;
        header {
            @apply flex items-center justify-between p-6 border-b boder-[#dadada];
            h3 {
                @extend .u-fs22;
                @apply flex items-center gap-x-4 font-wwf;
            }
        }
    }
}
.u-filter {
    @apply flex items-center gap-x-2 py-1.5 px-2.5 rounded-[40px] text-base bg-cake;
    span {
        @apply max-w-[350px] truncate;
    }
    button {
        @apply transform transition-all hover:rotate-90;
    }
}
.u-label {
    @apply mb-1 text-[#7B7B7B] font-bold text-xs;
}
.u-input {
    @apply max-w-full bg-white border border-[#dadada] px-3 py-2.5 focus:ring-1 focus:ring-gray-300 outline-none;
}
.u-legend {
    @apply flex items-center gap-x-4 rounded-[12px] p-4;
    &__score {
        @apply self-center min-w-[55px] min-h-[55px] rounded-full flex items-center justify-center bg-white;
        span {
            @extend .u-fs28;
            @apply font-wwf uppercase;
        }
    }
    &--no, &--none {
        @apply bg-[#E46466];
        .u-legend__score {
            @apply text-[#E46466];
        }
    }
    &--partially {
        @apply bg-[#E4C864];
        .u-legend__score {
            @apply text-[#E4C864];
            span {
                @apply text-sm;
            }
        }
    }
    &--yes {
        @apply bg-[#41b464];
        .u-legend__score {
            @apply text-[#41b464];
        }
    }
    &__description p {
        @apply text-xs text-white uppercase font-bold;
    }
}

.u-range-balance {
    @apply flex flex-col items-center justify-center
    before:content-[''] before:w-px before:h-[30px] before:bg-[#F1EBDD]
    after:content-[''] after:w-px after:h-[30px] after:bg-[#F1EBDD];
    div {
        @apply px-3 h-[23px] inline-flex items-center justify-center space-x-1 border border-[#D9D9D9] text-[#7B7B7B] bg-[#FBF9F6] rounded-[50px] font-wwf text-[15px]
        ;
        span {
            @apply -top-0.5;
        }
    }
}

.u-separator {
    @apply after:content-[''] after:w-px after:bg-[#F1EBDD] after:absolute after:top-1/2 after:left-full after:transform after:-translate-y-1/2;
}

.u-list-default ul {
    @apply list-disc pl-6;
    li {
        @apply mb-4;
        &:last-child {
            @apply mb-0;
        }
    }
}