html {
    @apply overflow-x-hidden font-open;
}
*, *::before, *::after {
    @apply relative;
}

p {
    @extend .u-fs18;
    @apply font-open mb-6 last:mb-0;
    a {
        @apply underline text-green;
    }
}
ul {
    @extend .u-fs18;
}

.u-fs18 {
    @apply text-lg leading-[38px];
}
.u-fs20 {
    @apply text-[20px];
}
.u-fs22 {
    @apply text-[22px];
}
.u-fs24 {
    @apply text-[24px] leading-[48px];
}
.u-fs24noleaded {
    @apply text-[24px] leading-[28px];
}
.u-fs28 {
    @apply text-[28px];
}
.u-fs28noleaded {
    @apply text-[28px] leading-[28px];
}
.u-fs30 {
    @apply text-[30px] leading-[30px];
}
.u-fs31 {
    @apply text-[31px];
}
.u-fs32 {
    @apply text-[32px] leading-[52px];
}
.u-fs32noleaded {
    @apply text-[32px] leading-[34px];
}
.u-fs34 {
    @apply text-[34px] leading-[38px];
}
.u-fs36 {
    @apply text-[36px] leading-[40px];
}
.u-fs38 {
    @apply text-[38px] leading-[42px];
}
.u-fs40 {
    @apply text-[40px] leading-[52px];
}
.u-fs42 {
    @apply text-[42px] leading-[46px];
}
.u-fs44 {
    @apply text-[44px] leading-[54px];
}
.u-fs44noleaded {
    @apply text-[44px] leading-[48px];
}
.u-fs48 {
    @apply text-[48px] leading-[52px];
}
.u-fs55 {
    @apply text-[55px] leading-[62px];
}
.u-fs58 {
    @apply text-[58px] leading-[60px];
}
.u-fs60 {
    @apply text-[60px] leading-[60px];
}
.u-fs62 {
    @apply text-[62px] leading-[62px];
}
.u-fs65 {
    @apply text-[65px];
}
.u-fs68 {
    @apply text-[68px] leading-[72px];
}
.u-fs72 {
    @apply text-[72px] leading-[72px];
}
.u-fs78 {
    @apply text-[78px] leading-[78px];
}
.u-fs88 {
    @apply text-[88px] leading-[62px];
}
.u-fs100 {
    @apply text-[100px] leading-[100px];
}
.u-fs118 {
    @apply text-[118px] leading-[100px];
}
.u-fs126 {
    @apply text-[126px] leading-[126px];
}
.u-fs180 {
    @apply text-[180px] leading-[180px];
}
.u-fs220 {
    @apply text-[220px] leading-[220px];
}

.u-button {
    @extend .u-fs18;
    @apply inline-flex items-center gap-4 px-12 py-3 font-wwf text-white uppercase bg-green rounded-[50px] hover:bg-gold;
    svg {
           @apply top-0.5;
            path {
                @apply stroke-current;
            }  
    }
    &--hero {
        @extend .u-fs22;
        @apply px-12 py-5 text-green bg-white border-2 border-green hover:bg-green hover:text-white;
        svg {
            @apply top-0.5;
            path {
                @apply stroke-current;
            }
        }
    }
    &--white-ocre {
        @apply bg-white text-ocre hover:bg-white hover:text-ocre hover:opacity-90;
    }
    &--white-green {
        @apply bg-white text-green hover:bg-white hover:text-green hover:opacity-90;
    }
    &--greendark {
        @apply bg-greendark text-white hover:bg-greendark hover:text-white hover:opacity-90;
    }
    &--border {
        @apply bg-white border-2 border-green text-green hover:bg-green hover:text-white;
    }
    &--back {
        @apply border-2 border-white text-xs py-1.5 px-3 gap-2;
    }
}
.u-container {
    @apply mx-auto max-w-[1190px] px-9;
    &--lg {
        @apply max-w-[1024px];
    }
    &--md {
        @apply max-w-[768px];
    }
    &--sm {
        @apply max-w-[640px];
    }
   
}
.u-header {
    @apply mb-20 text-center;
    h2 {
        @extend .u-fs32;
        @apply font-wwf;
    }
    h3 {
        @extend .u-fs24;
        @apply font-bold;
    }
    p {
        @extend .u-fs18;
        @apply leading-[38px];
        em {
            @apply text-green not-italic;
        }
    }
    > * {
        @apply mb-6;
        &:first-child:last-child {
            @apply mb-0;
        }
    }
    &--left {
        @apply text-left;
    }
    &--green {
        h2 {
            @apply text-green;
        }
    }
    &--case {
        h2 {
            @apply mb-16;
            @extend .u-fs68;
        }
    }
}
.u-section {
    @apply mt-32;
    &--padded {
        @apply py-32;
    }
    &--padded-t {
        @apply pt-32;
    }
    &--extra-mb {
        @apply mb-60;
    
    }
    &--cake { @apply bg-cake; }
    
}
.u-gradient {
    @apply bg-gradient-to-b ;
    &--horiz { @apply bg-gradient-to-r; }
    &--green-greensoft { @apply from-green to-greensoft; }
    &--ocre-ocrelight { @apply from-ocre to-ocrelight; }
    &--cake-transparent { @apply from-cake to-transparent; }
    &--greensoft-ocre { @apply from-greensoft to-ocre; }  
}
.u-scatter-tooltip {
    @apply p-6;
    &__row {
        @apply w-full flex;
    }
    &__category {
        @apply py-2;
        &__title {
            @apply block w-[75px] leading-[14px] text-xs opacity-50 uppercase;
            font-family: 'WWF'!important;
        }
    }
    &__stats {
        @apply text-center pt-4 flex flex-col items-center justify-center;
    }
    &__counter {
        font-family: 'WWF'!important;
        @extend .u-fs40;
        @apply w-[90px] h-[90px] rounded-full flex items-center justify-center text-white;
    }
    &__summary {
        @apply mt-4;
        h5 {
            font-family: 'WWF'!important;
            @extend .u-fs18; 
            @apply uppercase;
        }
        p {
            @apply text-[10px];
            &:last-child {
                @apply font-bold;
            }
        }
    }
    
}
.u-scatter__resume {
    @apply flex items-center mb-8 border boder-[#dadada] rounded-[12px] bg-white;
    &__block {
        @apply flex items-center space-x-3 flex-1 py-3 px-5;
        &:after {
            content: '';
            @apply block w-px h-6 bg-[#dadada] absolute top-1/2 right-0 transform -translate-y-1/2;
        }
        h4 {
            @extend .u-fs20;
            @apply font-wwf;
        }
        h5 {
            @apply text-xs text-[#7B7B7B];
        }
        &--col {
            @apply flex-col space-x-0 items-start;
            &:after {
                @apply h-full;
            }
        }
        &:last-child {
            &:after {
                @apply hidden;
            }
        }
    }
}
.u-scatter-xaxis-title {
    @apply text-sm fill-[#7B7B7B];
}
.u-scatter-yaxis-title {
    @apply text-sm fill-[#7B7B7B];
}
.u-scatter-item {
    @apply absolute flex flex-col items-center bottom-0 transform -translate-x-1/2 -translate-y-4;
    &__circle {
        @apply w-[20px] h-[20px] rounded-full;
    }
    &__line {
        @apply w-[2px] h-2;
    }
    &__data {
        @extend .u-fs18;
        @apply w-[40px] h-[40px] rounded-full flex items-center justify-center font-wwf text-white;
        &__label {
            @apply absolute left-full text-base text-[#C4C4C4] transform translate-x-1 leading-tight;
        }
    }
}
.u-page-header {
    @extend .u-gradient ,.u-gradient--horiz, .u-gradient--green-greensoft;
    @apply py-6;
    &__container {
        @apply flex items-ctenter justify-between;
    }
    &__header {
        @apply font-wwf text-white;
        h2 {
            @extend .u-fs32;
            @apply leading-[20px];
        }
        h1 {
            @extend .u-fs68;
        }
    }
    &__cta {
        @apply flex items-center justify-end;
    }
}
.u-range {
    @extend .u-fs24;
    @apply relative flex items-center justify-center w-[50px] h-[50px] rounded-full font-wwf mx-auto z-10 text-center;
    &--border {
        @apply border-2;
        &.lagging-behind { @apply border-[#E46466] }
        &.middle-of-the-pack { @apply border-[#E4C864] }
        &.intermediate { @apply border-[#96b441] }
        &.advanced { @apply border-[#41b464] }
    }
    &--text {
        &.lagging-behind { @apply text-[#E46466] }
        &.middle-of-the-pack { @apply text-[#E4C864] }
        &.intermediate { @apply text-[#96b441] }
        &.advanced { @apply text-[#41b464] }
    }
    &--bg {
        @apply text-white;
        &.lagging-behind { @apply bg-[#E46466] }
        &.middle-of-the-pack { @apply bg-[#E4C864] }
        &.intermediate { @apply bg-[#96b441] }
        &.advanced { @apply bg-[#41b464] }
        &.non-resp { @apply bg-[#c1c1c1] text-3xl; }
    }
    &--big {
        @extend .u-fs31;
        @apply w-[65px] h-[65px];
    }
    &--company {
        @extend .u-fs62;
        @apply w-[130px] h-[130px];
    }
    &--total {
        @apply w-[65px] h-[65px] text-xl;
    }
    &--past {
        @apply w-[35px] h-[35px] text-base;
    }
    &--past-total {
        @apply w-[45px] h-[45px] text-lg;
    }
    &--pointer {
        @apply cursor-pointer;
    }
    &--cat {
        @apply mx-0;
    }
    &--results {
        @extend .u-fs44;
        @apply w-[82px] h-[82px] text-white;
    }
}

.u-sc-text {
    &.lagging-behind { @apply text-[#E46466] }
    &.middle-of-the-pack { @apply text-[#E4C864] }
    &.intermediate { @apply text-[#96b441] }
    &.advanced { @apply text-[#41b464] }
    &.non-resp { @apply text-[#c1c1c1] }
}

.u-sc-bg {
    &.lagging-behind { @apply bg-[#E46466] }
    &.middle-of-the-pack { @apply bg-[#E4C864] }
    &.intermediate { @apply bg-[#96b441] }
    &.advanced { @apply bg-[#41b464] }
    &.non-respondent { @apply bg-[#c1c1c1] }
}

.u-sc-bg-light {
    &.lagging-behind { @apply bg-[#E46466] bg-opacity-30; }
    &.middle-of-the-pack { @apply bg-[#E4C864] bg-opacity-30; }
    &.intermediate { @apply bg-[#96b441] bg-opacity-30; }
    &.advanced { @apply bg-[#41b464] bg-opacity-30; }
    &.non-respondent { @apply bg-[#c1c1c1] bg-opacity-30; }
}

.u-noscore {
    @apply block mx-auto font-wwf text-lg uppercase  text-[#c1c1c1] leading-tight text-center whitespace-pre;
}

.u-modal {
    @apply w-screen h-screen fixed top-0 left-0 z-40 flex items-center justify-center;
    &__overlay {
        @apply w-full h-full bg-black bg-opacity-50 absolute top-0 left-0;
    }
    &__content {
        @apply w-[960px] max-h-[calc(100vh-100px)] bg-white rounded-[12px] overflow-auto;
        header {
            @apply flex items-center justify-between p-6 border-b boder-[#dadada];
            h3 {
                @extend .u-fs22;
                @apply flex items-center gap-x-4 font-wwf;
            }
        }
    }
}
.u-filter {
    @apply flex items-center gap-x-2 py-1.5 px-2.5 rounded-[40px] text-base bg-cake;
    span {
        @apply max-w-[350px] truncate;
    }
    button {
        @apply transform transition-all hover:rotate-90;
    }
}
.u-label {
    @apply mb-1 text-[#7B7B7B] font-bold text-xs;
}
.u-input {
    @apply max-w-full bg-white border border-[#dadada] px-3 py-2.5 focus:ring-1 focus:ring-gray-300 outline-none;
}
.u-legend {
    @apply flex items-center gap-x-4 rounded-[12px] p-4;
    &__score {
        @apply self-center min-w-[55px] min-h-[55px] rounded-full flex items-center justify-center bg-white;
        span {
            @extend .u-fs28;
            @apply font-wwf uppercase;
        }
    }
    &--no, &--none {
        @apply bg-[#E46466];
        .u-legend__score {
            @apply text-[#E46466];
        }
    }
    &--partially {
        @apply bg-[#E4C864];
        .u-legend__score {
            @apply text-[#E4C864];
            span {
                @apply text-sm;
            }
        }
    }
    &--yes {
        @apply bg-[#41b464];
        .u-legend__score {
            @apply text-[#41b464];
        }
    }
    &__description p {
        @apply text-xs text-white uppercase font-bold;
    }
}

.u-range-balance {
    @apply flex flex-col items-center justify-center
    before:content-[''] before:w-px before:h-[30px] before:bg-[#F1EBDD]
    after:content-[''] after:w-px after:h-[30px] after:bg-[#F1EBDD];
    div {
        @apply px-3 h-[23px] inline-flex items-center justify-center space-x-1 border border-[#D9D9D9] text-[#7B7B7B] bg-[#FBF9F6] rounded-[50px] font-wwf text-[15px]
        ;
        span {
            @apply -top-0.5;
        }
    }
}

.u-separator {
    @apply after:content-[''] after:w-px after:bg-[#F1EBDD] after:absolute after:top-1/2 after:left-full after:transform after:-translate-y-1/2;
}

.u-list-default ul {
    @apply list-disc pl-6;
    li {
        @apply mb-4;
        &:last-child {
            @apply mb-0;
        }
    }
}

.u-bar {
    @apply h-[30px] bg-[#E6E4E9] rounded-[30px];
    &__ranges {
        @apply w-full h-full absolute top-0 left-0 flex items-center justify-between px-2;
        span {
            @apply flex-1 flex justify-center items-center text-sm font-semibold font-wwf text-[#7B7B7B];
            &:first-of-type { @apply justify-start }
            &:last-of-type  { @apply justify-end }
        }
    }
    &__scores {
        @apply w-[calc(100%-30px)] h-full left-0;
    }
    &__score {
        @apply absolute w-[30px] h-[30px] rounded-full border-2 border-white text-base;
    }
    &__median {
        @apply absolute top-0 h-[30px] text-[9px] text-[#7B7B7B] font-bold font-open transform -translate-x-1/2;
        &__indicator {
            @apply absolute top-0 left-0 w-px h-[30px] bg-white
            after:content-[''] after:w-[8px] after:h-[8px] after:absolute after:top-1/2 after:left-1/2 after:transform after:-translate-x-1/2 after:-translate-y-1/2 after:bg-white after:rounded-full ;
            
        }
        &__text {
            @apply absolute top-full left-0 transform -translate-x-1/2 translate-y-2;
            @apply before:content-[''] before:w-px before:h-[14px] before:absolute before:-top-2 before:left-1/2 before:bg-[#7B7B7B];
        }
        
    }
}

.u-total-map {
    @apply absolute bottom-0 flex flex-col items-center transform -translate-x-1/2;
    &__indicator {
        @apply w-[35px] h-[35px] rounded-full border border-white bg-opacity-35;
    }
    &__line {
        @apply w-px h-[135px] bg-white;
    }
    &__ground {
        @apply w-[7px] h-[5px] rounded-full bg-white;
    
    }
    &--current {
        .u-total-map__indicator {
            @apply w-[60px] h-[60px] bg-current border-none flex items-center justify-center;
            span {
                @apply font-montserrat text-chsc-dark text-sm font-bold;
            }
        }
        .u-total-map__line {
            @apply w-[2px] h-[220px] bg-current;
        }
        .u-total-map__ground {
            @apply bg-current;
        }
    }
}

.u-total-limit {
    @apply w-full absolute bottom-0 flex items-center;
    &__circle {
        @apply w-[8px] h-[8px] bg-[#C4C4C4] rounded-full;
    }
    &__line {
        @apply flex-1 w-full h-[2px] bg-[#C4C4C4];
    }
    &__name {
        @apply absolute -top-7 left-0 font-montserrat text-[10px] uppercase font-semibold text-[#C4C4C4];
        &--top {
            @apply left-auto right-0;
        }
    }
}
.u-total-median {
    @apply absolute bottom-[10px] w-[8px] h-[8px] bg-[#C4C4C4] rounded-full;
    span {
        @apply absolute -top-7 left-1/2 font-montserrat text-[10px] uppercase font-semibold text-[#C4C4C4] transform -translate-x-1/2;
    }
}

.u-result-cat {
    @extend .u-fs36;
    @apply font-wwf mt-4 mb-3;
}
.u-result-grid {
    @apply flex flex-wrap -mx-6;
    .u-result-grid-block {
        @apply px-6;
        &--border {
            @apply border-r;
        }
        .u-result-block {
            @apply mb-0;
        }
    }
}  
.u-result-block {
    @apply mb-20;
    &__header {
        @apply mb-6 text-sm text-[#7B7B7B] font-bold uppercase;
        span {
            @apply inline w-auto bg-white z-10 pr-4;
        }
        &:before {
            content: '';
            @apply block w-full h-px bg-[#DADADA] absolute top-1/2 left-0 transform -translate-y-1/2
        }
        &.noline {
            &:before {
                @apply hidden;
            }
        }
    }
}
.u-result-card {
    @apply min-h-full flex flex-col justify-between p-6 pr-10 rounded-[12px];
    &__ans {
        @extend .u-fs40;
        @apply w-[75px] h-[75px] flex items-center justify-center rounded-full bg-white font-wwf uppercase;
    }
    &__des {
        @apply mt-6 flex-1 flex items-end text-sm font-bold text-white uppercase;
    }
    &__que {
        @apply text-sm text-[#7B7B7B] font-bold mb-6;
        &--absolute {
            @apply absolute top-0 left-6 transform -translate-y-1/2 bg-white uppercase px-3;
        }
    }
    &__tooltip {
        @apply absolute top-3 right-3;
        &__content {
            @apply p-4 text-sm text-black bg-cake max-w-[350px];
            p {
                @apply text-base text-black;
            }
        }
    }
    &__checks {
        @apply flex flex-wrap -mx-8 -my-2;
    }
    &__check {
        @apply w-1/2 flex flex-col items-center px-8 py-2;
        span {
            @apply mt-1 text-[10px] text-center leading-[12px] text-[#7B7B7B] font-bold;
        }
        &.ok {
            img {
                @apply ml-[5px];
            }
            span {
                @apply mt-[-2px] text-[#41b464];
            }
        }
        &.not {
            span {
                @apply text-[#E46466];
            }
        }
    }
    &__badge {
        @apply flex items-center gap-x-2 p-4 rounded-[12px];
        span {
            @apply text-white text-xs font-bold uppercase;
            a {
                @apply underline;
            }
        }
        &.ok {
            @apply bg-[#41b464];
        }
        &.not {
            @apply bg-[#E46466];
        }
        &.partially {
            @apply bg-[#E4C864];
        }
        
    }
    &__bar {
        @apply flex flex-col space-y-1;
        &__label {
            span {
                &:nth-child(1) {
                    @apply text-[#7B7B7B] text-sm font-bold;
                }
                &:nth-child(2) {
                    @apply text-[#7B7B7B] text-xs;
                }
            }
        }
        &__bar {
            @apply min-h-[22px] max-h-[22px] flex-1 border border-[#DADADA] rounded-[25px];
        }
        &__wrap {
            @apply w-full h-full absolute top-0 left-0 overflow-x-hidden rounded-[25px];
        }
        &__item {
            @apply absolute top-0 min-w-[3%] h-full rounded-[25px] -ml-[15px];
            span {
                @apply absolute top-1/2 right-1 transform -translate-y-1/2 text-white text-xs font-bold text-[#389655];
                &.last {
                    @apply right-10 text-white;
                }
            }
        }
        &__total-wrap {
            @apply w-[calc(100%-32px)] h-full top-0 left-[32px] absolute;
        }
        &__total {
            @apply w-[32px] h-[32px] absolute top-1/2 trasnfrom -translate-y-1/2 -translate-x-full rounded-full flex items-center justify-center bg-[#41b464] text-white border-2 border-white font-wwf text-sm;
        }
    }
    &__legend {
        @apply mt-6;
        ul {
            @apply flex items-center space-x-6;
            li {
                @apply flex items-center space-x-1;
                span {
                    &:first-child {
                        @apply w-[18px] h-[18px] rounded-full;
                    }
                    &:last-child {
                        @apply text-sm text-[#7B7B7B] font-bold;
                    }
                }
            }
        }
    }
    &--yes {
        @apply bg-[#41b464];
        .u-result-card__ans {
            @extend .u-fs22;
            @apply text-[#41b464] ;
        }
    }
    &--partially {
        @apply bg-[#E4C864];
        .u-result-card__ans {
            @extend .u-fs22;
            @apply text-[#E4C864] ;
        }
    }
    &--no {
        @apply bg-[#E46466];
        .u-result-card__ans {
            @extend .u-fs22;
            @apply text-[#E46466] ;
        }
    }
    &--border {
        @apply border border-[#DADADA];
    }
    &--flex {
        @apply flex-row space-y-0 items-center space-x-6;
    }
}

.u-otg-badge {
    @apply flex flex-col items-center flex-1;
    &__ans {
        @apply w-[75px] h-[75px] absolute left-1/2 left-1/2 top-full rounded-full bg-white flex justify-center items-center transform -translate-x-1/2 -translate-y-1/2;
        span {
            @extend .u-fs42;
            @apply font-wwf text-[#41b464];
        }
    }
    &__label {
        @apply text-xs text-[#41b464] font-bold uppercase text-center;
    }
    &--disabled {
        img {
            @apply filter grayscale;
        }
        .u-otg-badge__ans {
            span { @apply text-[#7B7B7B]; }
        }
        .u-otg-badge__label {
           @apply text-[#E0E0E0];
        }
    }
}
.v-popper__inner {
    background-color: rgb(255 250 243)!important;
}
.v-popper__arrow-inner {
    border-color: rgb(255 250 243)!important;
}

.u-title-ribbon {
    @apply mt-20 mb-16;
    .line {
        @apply w-full h-px bg-[#DADADA] absolute top-1/2 left-0 transform -translate-y-1/2;
    }
    h3 {
        @extend .u-fs32;
        @apply flex-inline bg-white px-6 font-wwf text-[#B7B7B7] uppercase;
    }
}

.u-an {
    @apply flex space-x-3;
    &__indicator {
        @apply flex space-x-4;
    }
    &__num {
        @apply min-w-[82px] min-h-[82px] h-[82px] rounded-full flex items-center justify-center bg-green;
        span {
            @extend .u-fs65;
            @apply text-white font-wwf -top-1;
        }
    }
    &__separator {
        @apply w-px h-[155px] bg-[#DADADA];
    }
    &__header {
        @apply mb-6;
        h3 {
            @extend .u-fs32noleaded;
            @apply font-wwf uppercase;
        }
    }
    &__grid {
        @apply flex space-x-6;
    }
    &__text {
        p {
            @apply text-base leading-loose;
        }
    }
    &__badge {
        @apply rounded-[12px] overflow-hidden;
        &__pic {
            @apply w-full h-full absolute top-0 left-0;
            img {
                @apply w-full h-full object-cover object-center;
            }
        }
        &__text {
            @apply p-6 flex flex-col space-y-1 font-wwf text-white uppercase;
            &__grid {
                @apply flex space-x-4;
            }
        }
        &--dark {
            .u-an__badge__text {
                @apply text-black;
            }
            p {
                @apply text-sm font-open normal-case;
            }
        }
    }
    &__mapblock {
        @apply w-[260px] p-6 bg-cake absolute rounded-[12px];
        .title {
            @extend .u-fs24;
            @apply font-wwf uppercase;
        }
        ul {
            li {
                @apply flex items-center space-x-4 border-t border-t-[#DADADA] py-2;
                span {
                    &:first-child {
                        @extend .u-fs30;
                        @apply font-wwf text-green;
                    }
                    &:last-child {
                        @apply text-xs;
                    }
                }
            }
        }
    }
    &__ground {
        @apply flex flex-col justify-center space-y-4 flex-1;
        .stat {
            @apply flex flex-col justify-center text-center font-wwf text-green;
            span {
                &:first-child {
                    @extend .u-fs60;
                }
                &:last-child {
                    @extend .u-fs20;
                }
            }
        }
        .name {
            @extend .u-fs28noleaded;
            @apply text-center text-green font-wwf uppercase;
        }
    }
    &__radar {
        @apply w-1/2 px-6 py-6;
        h4 {
            @apply mb-4 font-wwf uppercase text-sm;
        }
        .grid {
            @apply flex;
            > * {
                @apply flex-1;
            }
            ul {
                @apply list-disc ml-6 text-base;
                li {
                    @apply mb-1 last:mb-0;
                }
            }
        }
    }
}

.u-cs {
    &__approach {
        @apply mb-32;
        &__intro {
            p {
                @extend .u-fs32;
            }
        }
        &__description, &__closing {
            @apply mt-10;
            p {
                @extend .u-fs20;
            }
            ul {
                @extend .u-fs20;
                @apply list-disc ml-6 mb-8 last:mb-0;
            }
        }
        &__description:nth-child(2) { @apply mt-0; }
        &__closing:nth-child(2) { @apply mt-0; }
    }
    &__roadblocks {
        p {
            @extend .u-fs20;
        }
        ul {
            @extend .u-fs20;
            @apply list-disc ml-6 mb-8 last:mb-0;
        }
    }
}